body{
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.onepage{
    background: linear-gradient(rgb(215, 214, 214), rgb(48, 42, 42));
    height: 100px;
    justify-content: center;
}

.h2{
    text-align: center;
}